<h1> Session Token </h1>

<form action="new_session_url" method="post">
  <label for="username">Username</label>
  <input type="text" name="user[user_name]">
  <br>
  <label for="password">Password</label>
  <input type="password" id="password"value="user[password_digest]">
  <input type="submit" value="Login!">
</form>
